.gridContainer{
    width: 30em;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.gridBox {
    width: 1.75em;
    height: auto;
    border: 0.1em solid black;
    margin: 0;
}
