:root {
    --bg: #131a25;
    --subbg: #141c29;
    --header: #131a25e5;
    --lnktxt: #D64550;
    --lnktxthover:#a84951;
    --pb: #dddddd36;
    --pbmain: #ddddddc0;
    --maintxt: #DDDDDD;
    --subtxt: #DDDDDD;
}
html {
    background-color: var(--bg);
}
body {
    margin: 0;
}

.gridContainer{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    scale: 1.5;
    margin-top:8em;
}
.gridCell {  
    border: 0.05em solid var(--maintxt);
}

#gridCount {
    padding: 1em 0em;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

button {
    margin: 1em;
    border: 0.1em solid var(--maintxt);
    background-color: transparent;
    color: var(--maintxt);
    padding: 0.5em 1em;
    border-radius: 0.5em 0 0.5em 0;
    transition: 0.1s;
    padding: 1em 2em;
    }
    
button:hover{
    transform: translateY(-0.2em);
    box-shadow: 0em 0.3em 0em var(--lnktxt);
 }

